@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.forgot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
  position: relative;
  overflow: hidden;
}

/* gambar kiri & kanan */
.side-img {
  position: absolute;
  bottom: 200px;
  width: 220px;
  z-index: 0;
}

.side-img.left {
  left: 0;
}

.side-img.right {
  right: 0;
}

/* card */
.forgot-card {
  width: 200%;
  max-width: 500px;
  background: #fff;
  padding: 1.5rem; /*UBAH UKURAN CARDDDDDDDDDDDDD*/
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  z-index: 1;
}

.forgot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.forgot-header h4 {
  font-size: 14px;
  color: #666;
}
.forgot-header a {
  color: #f7941d;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.forgot-card h2 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.forgot-card .subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 1.5rem;
}

.forgot-card label {
  font-size: 14px;
  margin-bottom: 0.3rem;
  display: block;
}

.forgot-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.forgot-btn {
  width: 100%;
  padding: 12px;
  background: #f7941d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
